<div class="card-container d-flex align-items-center justify-content-center">
  <%= simple_form_for @character, defaults: { label_html: { class: 'white-label' } } do |f| %>
    <%= f.input :name %>
    <%= f.association :specie %>
    <%= f.input :photo, label: "Photo url", hint: "Provide a photo with transparent background! You can pick a photo from here: https://stellaris.paradoxwikis.com/Species" %>
    <%= f.input :description %>
    <%= f.submit "Create empire" %>
  <% end %>
</div>
