<!DOCTYPE html>
<html>
  <head>
    <title>Star Empires</title>
    <link rel="shortcut icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/46b63d3c-ae67-464c-9a37-670829b2a157/dat1p2n-77ad0788-5c4f-49a2-9bc1-98f7412f402d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2YjYzZDNjLWFlNjctNDY0Yy05YTM3LTY3MDgyOWIyYTE1N1wvZGF0MXAybi03N2FkMDc4OC01YzRmLTQ5YTItOWJjMS05OGY3NDEyZjQwMmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mG4vgwGUfhJuCd8L756mmGiUlvCb7uZS1rzIPT-KtKk" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer"></div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
